{% extends "base.html" %}

{% block title %}Menu - Pizzeria Oderman{% endblock %}

{% block content %}
<h1>Our Menu</h1>
<table>
    <thead>
        <tr>
            <th>Назва піци</th>
            <th>Опис інгредієнтів</th>
            <th>Ціна</th>
        </tr>
    </thead>
    <tbody>
        {% for pizza in pizzas %}
        <tr>
            <td>{{ pizza.name }}</td>
            <td>{{ pizza.ingredients }}</td>
            <td>{{ pizza.price }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}